body {
	width: 100%;
}
.wide {
	width: 400px;
	margin: 0 auto;
}

.red {
	height: 100px;
	background: #ff0000;
	}

.green {
	float: left;
	width: 150px;
	height: 250px;
	background: #00ff51;
	}

.box {
	float: left;
	width: 250px;
}
.magenta-cyan {
	float: left;
	width: 150px;
}

.magenta {
	height: 50px;
	background: #cc00db;
	}

.cyan {
	height: 100px;
	background: #0093b7;
	}


.beige {
	float: left;
	width: 100px;
	height: 150px;
	background: #ff9e6b;
	}

.brown {
	height: 100px;
	background: #8c2727;
	}

.yellow {
	height: 100px;
	background: #fff700;
	}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}